.NavItem {
    /* margin: 10px 0; */
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 1% 0;
    height: 10px;
    /* align-self: center; */

}

.NavItem a {
    color: #472C25;
}


