.Products {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 16%;
}

.Products h4 {
    width: 48%;
    padding: 0 5px 0 0;
    text-align: right;
    display: inline-block;
}

.Products ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    margin: 0;
}

.Products li {
    list-style-type: none;
    margin: 2.5%;
    box-sizing: border-box;
    width: 45%;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    /* background-color: hotpink; */
    /* height: 50px; */
    overflow: hidden;
}

.SearchInput {
    margin-top: -20px;
    /* -left: 5px; */
    width: 50%;
    display: inline-block;
    text-align: left;
}

.SearchInput input {
    width: 200px;
    height: 20px;
    /* background-color: hotpink; */
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

img {
    width: 100px;
}


@media screen and (min-width: 480px) {
    .Products {
        padding-top: 20%;
    }
    .Products ul {
        padding: 0 0 0 10%;
    }
}

@media screen and (min-width: 720px) {
    .Products {
        padding-top: 25%;
    }
    .Products ul {
        padding: 0 0 0 8%;
    }
}

@media screen and (min-width: 960px) {
    .Products {
        padding-top: 27%;
    }
    .Products h3 {
        font-size: 1.65em;
    }
    .Products ul {
        padding: 0 0 0 5%;
    }

    .Products li {
        width: 27.333%;
        border: 2px solid #ccc;
    }
  }

  @media screen and (min-width: 1800px) {
    .Products {
        padding-top: 27%;
    }
    .Products h3 {
        font-size: 4.25em;
    }
    .Products ul {
        padding: 0 0 0 5%;
    }

    .Products li {
        width: 27.333%;
        border: 2px solid #ccc;
    }
    .SearchInput input {
        font-size: 2.75em;
        height: auto;
        width: auto;
    }
  }
