.Logo {
  background-color: #EB712F;
  /* height: 30px; */
  width: 100%;
  padding-top: 5px;
}

.Header_ln1 {
    font-size: 1.9em;
  }
  
  .Header_ln2 {
    font-size: 2.5em;
    font-stretch: wider;
  }

  .Logo img {
    height: 50px;
  }


  @media screen and (min-width: 480px) {
    .Logo img {
      height: 75px;
      width: auto;
    }
}

  @media screen and (min-width: 720px) {
    .Logo img {
      height: 125px;
      width: auto;
    }
  }

  
  @media screen and (min-width: 960px) {
    .Logo img {
      height: 150px;
      width: auto;
    }
  }

  @media screen and (min-width: 1800px) {
    .Logo img {
      height: 300px;
      width: auto;
    }
  }