.Record {
    /* background-color: hotpink; */
    /* padding: 2%; */
    box-sizing: border-box;
    box-shadow: 0 2px 3px #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;

}

.Record figcaption {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    /* opacity: 0.8; */
    /* display: none; */
    z-index: 1;
}

.Record figure {
    margin: 0;
    padding: 0;
}

.Record img {
    /* width: 100px; */
    width: 100%;
    /* z-index: -1; */
    height: 100%;
    position: relative;
}

.Player {
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
}


.Player:hover {
    /* z-index: 1; */
    opacity: 1;
}

@media screen and (min-width: 1800px) {
    .Record figcaption {
       font-size: 2.75em;
       justify-content: center;
    }
  }
