.Toolbar {
    /* height: 56px; */
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EB712F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px 0 0 0; */
    box-sizing: border-box;
    z-index: 50;
    box-shadow: 0 2px 3px #ccc;
}

.Logo {
    /* height: 80%; */
    box-sizing: border-box;
    /* justify-content: center; */
    padding: 5px;
    width: 100%;
}

@media screen and (min-width: 480px) {
    .Toolbar{
        height: 10%;
    }
}

@media screen and (min-width: 720px) {
    .Toolbar {
        height: 100px;
    }
}

@media screen and (min-width: 960px) {
    .Toolbar {
        height: 120px;
    }
}