.About {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    background-color: hotpink;
}

.BodyText p {
    font-size: 0.75em;
    text-align: justify;
    line-height: 1em;
    font-family: 'Crimson Text', serif;
}
