.App {
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Appheader {
  background-color: #EB712F;    
  /* https://duoparadigms.com/2013/10/11/10-color-palettes-perfect-autumnfall-season/ */
  height: 20%;
  padding: 5%; 
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* align-items: center; */
}


.Appheader h1 {
  margin: -10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
